{% extends 'base.html' %}
{% load static %}

{% block custom_css %}

{% endblock custom_css %}

{% block content %}
<!-- Page-title -->
<div class="page-title page-blog-full-w">
    <div class="rellax" data-rellax-speed="5">
        <img src="{% static 'images/page-title/blog-full-w.jpg' %}" alt="">
    </div>
    <div class="content-wrap">
        <div class="tf-container w-1290">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <p class="sub-title">
                            Yangilik sarlavhasi
                        </p>
                        <h1 class="title">
                            {{ new.title }}
                        </h1>
                        <div class="icon-img">
                            <img src="{% static 'images/item/line-throw-title.png' %}" alt="">
                        </div>
                        <div class="breadcrumb">
                            <a href="/">Bosh sahifa</a>
                            <div class="icon">
                                <i class="icon-arrow-right1"></i>
                            </div>
                            <a href="/news">Yangiliklar</a>
                            <div class="icon">
                                <i class="icon-arrow-right1"></i>
                            </div>
                            <a>{{ new.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="img-item item-2">
        <img src="{% static 'images/item/grass.png' %}" alt="">
    </div>
</div><!-- /.Page-title -->

<!-- Main-content -->
<div class="main-content page-blog-single">
    <div class="blog-single">
        <div class="tf-container w-1290">
            <div class="row">
                <div class="col-lg-8">
                    <div class="content">
                        <h3 class="title-name fw-bold">
                            {{ new.title }}
                        </h3>
                        <div class="entry-meta">
                            <ul class="meta-list">
                                <li class="entry date">
                                    <i class="fa-solid fs-14 fa-calendar"></i>
                                    <p class="">
                                        <a href="#">
                                            {{ new.category }}
                                        </a>
                                    </p>
                                </li>
                                <li class="entry tags">
                                    <i class="fa-solid fa-tag"></i>
                                    <p>
                                        <a href="#">{{ new.created_at }}</a>

                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="entry-image">
                            <img class="lazyload" src="{{ new.image.url }}"
                                 data-src="{{ new.image.url }}" alt="">
                        </div>
                        <p class="text text-1">
                            {{ new.body }}
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tf-sidebar">
                        <div class="wg-author-farm mb-40">
                            <div class="image-avt wow zoomIn">
                                <img src="{% static 'images/new/author3.jpg' %}" alt="">
                            </div>
                            <a href="#" class="text-upper font-worksans name hover-text-secondary">Umida Nazarova</a>
                            <p class="duty font-nunito">
                                Agro Innov Tijoar | Loyiha muallifi
                            </p>
                            <p class="text font-nunito">
                                “Qishloq xo‘jaligida innovatsiyalarni tijoratlashtirish mexanizmini takomillashtirish yo‘llari” mavzusi.
                            </p>
                            <ul class="social-list style-3 style-2">
                                <li class="item">
                                    <a href="#">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa-brands fa-skype"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa-brands fa-telegram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-item sb-search">
                            <h5 class="sb-title">
                                Search
                            </h5>
                            <div class="sb-content">
                                <form action="#" class="form-search style-1">
                                    <fieldset>
                                        <input type="text" placeholder="Write content..." required>
                                    </fieldset>
                                    <button type="submit" class="btn-search">
                                        <i class="icon-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.Main-content -->
{% endblock content %}
