{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page-title -->
<div class="page-title page-blog-full-w">
    <div class="rellax" data-rellax-speed="5">
        <img src="{% static 'images/page-title/blog-full-w.jpg' %}" alt="">
    </div>
    <div class="content-wrap">
        <div class="tf-container w-1290">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <p class="sub-title">
                            Hush kelibsiz
                        </p>
                        <h1 class="title">
                            Fermerlar boshqaruv tizimiga
                        </h1>
                        <div class="icon-img">
                            <img src="{% static 'images/item/line-throw-title.png' %}" alt="">
                        </div>
                        <div class="breadcrumb">
                            <a href="{% url 'home_page' %}">Bosh sahifa</a>
                            <div class="icon">
                                <i class="icon-arrow-right1"></i>
                            </div>
                            <a href="/dashboard"> Fermerlar boshqaruv tizimiga</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="img-item item-2">
        <img src="{% static 'images/item/grass.png' %}" alt="">
    </div>
</div><!-- /.Page-title -->

<!-- Main-content -->
<div class="main-content page-blog-single">
    <div class="blog-single">
        <div class="tf-container w-1290">
            <div class="row">
                <div class="col-lg-8">
                    <div class="content">
                        <h3 class="title-name fw-bold">
                            Maxsulotlarim
                        </h3>

                        <div class="text-end">
                            <a href="#" class="btn btn-lg btn-success">Qo'shish</a>
                        </div>

                        {% if request.user.farm.products %}
                            <div class="wg-shop-content ">
                            <div class="grid-layout-3 gap-30-20">

                                {% for product in products %}
                                  <div class="card-product style-2 wow fadeInUp" data-wow-delay="0s">
                                      <ul class="trendy-list">
                                        <li class="trendy-item ">
                                            <p class="color-2">O'zgartirish</p>
                                        </li>
                                        <li class="trendy-item ">
                                            <p class="color-3">O'chirish</p>
                                        </li>

                                    </ul>

                                    <div class="image">
                                        <img src="{{ product.image.url }}" data-src="{{ product.image.url }}" alt="{{ product.name }}"
                                            class="lazyload">
                                    </div>
                                    <a href="#" class="name-product font-worksans hover-text-4">
                                        {{ product.name }}
                                    </a>
                                    <div class="pricing-star">
                                        <div class="price-wrap">

                                            <span class=" price-2">{{ product.quantity }} tonna</span>
                                        </div>
                                        <div class="wg-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class=" tf-page-pagination">
                            <ul>
                                <li>
                                    <a class="active" href="javascript:void(0)">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                            Yoq
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tf-sidebar">
                        <div class="sidebar-item sb-category">
                            <h5 class="sb-title">
                                Bo'limlar
                            </h5>
                            <div class="sb-content">
                                <ul class="category-list">
                                    <li class="item">
                                        <a href="/dashboard"><i class="fa fa-tachometer-alt"></i> Dashboard</a>
                                    </li>
                                    <li class="item">
                                        <a href="/dashboard"><i class="fa fa-tractor"></i> Mening fermam</a>
                                    </li>
                                    <li class="item">
                                        <a href="/dashboard/products"><i class="fa fa-cogs"></i> Mening maxsulotlarim</a>
                                    </li>
                                    <li class="item">
                                        <a href="#"><i class="fa fa-users"></i> Mening xodimlarim</a>
                                    </li>
                                    <li class="item">
                                        <a href="#"><i class="fa fa-chart-line"></i> Kirim/Chiqim</a>
                                    </li>
                                    <li class="item">
                                        <a href="#"><span class="text-danger"><i class="fa fa-sign-out-alt"></i> Tizimdan chiqish</span></a>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.Main-content -->
{% endblock content %}
